general.import = [
  "theme/catppuccin-frappe.toml"
]

[window]
dimensions = { columns = 120, lines = 40 }
# padding = { x = 3, y = 3 }
# dynamic_padding = true
option_as_alt = "OnlyLeft"

[font]
normal = { family="JetBrainsMono Nerd Font", style="Regular" }
size = {{.terminal_font_size}}

[env]
TERM = "xterm-256color"
